<!DOCTYPE html>
<html>
  <head>
    <title>WeebWatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="navbar-lewagon d-flex ps-3 pe-3 pt-3">
   <p class="white-text">Weeb Watchlist</p>
   <%= link_to lists_path, class: "text-decoration-none text-white" do %>
   <i class="fa-solid fa-house"></i> Home
   <% end %>
   <%= link_to new_list_path, class: "text-decoration-none text-white" do %>
    <i class="fa-solid fa-plus"></i> Create List
   <% end %>
   </div>
    <div class="banner"
    style= "background-image: url(<%= (@list.present? && @list.photo.attached?) ? cl_image_path(@list.photo.key) : image_path('https://play-lh.googleusercontent.com/EEZRsDvcSq11pwv5SVEyVlqUe5r8nP1r4OL6LM8co4hBX_F1nERK1gtZ-Q8o70MJ_d4') %>)"
    >
   <h1 class="banner-title"><%= @list.present? ? @list.name : "Weeb Watchlist" %></h1>
   <div class="card-overlay"></div>
   </div>
    <%= yield %>
  </body>
</html>
